@model WebMVC.Models.User

@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome Page</h2>

<div class="alert alert-success">

    Welcome @Model.Name

</div>

<a href="/Home/Index"
   class="btn btn-secondary">
    Back
</a>